@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-bg: #161616;
  --light-bg: #f0e9de;
  --dark-hover: #1f2937;
}

html,
body {
  background-color: #161616;
}

.gradient {
  background-image: linear-gradient(
    to right top,
    #9710da,
    #8624d9,
    #752fd8,
    #6237d5,
    #4f3cd2,
    #3c49d4,
    #2553d5,
    #005cd4,
    #006cd4,
    #0079cf,
    #0084c6,
    #188ebc
  );
}

.cardgradient {
  background: rgb(98,55,213);
background: linear-gradient(90deg, rgba(98,55,213,1) 0%, rgba(151,16,218,1) 35%, rgba(79,60,210,1) 100%);
}

.email{
  animation: emailanimation 5s ease-in-out infinite
}

@keyframes emailanimation {

 0% {
    position: absolute;
    bottom: 170px;
  }
  50% {
    position: absolute;
    bottom: 48px;
  }
  100% {
    position: absolute;
    bottom: 170px;
  }

}


.phone{
  animation: phoneanimation 5s ease-in-out infinite
}

@keyframes phoneanimation {

 0% {
    position: absolute;
    bottom: 48px;
  }
  50% {
    position: absolute;
    bottom: 170px;
  }
  100% {
    position: absolute;
    bottom: 48px;
  }

}
